body {
	background-color: rgb(255, 255, 255);
}

div.div1 {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightgrey;
	border-bottom: 6px solid red;
	padding: 10px;
	align-items:center;
}

div.outer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 93vh
}

div.colourBox {
	display: flex;
	cursor: pointer;
	background-color: rgb(0,0,0);
    border-radius: 10px;
    width: 70%;
    height: 70%;
	align-items: center;
	justify-content: center;
	line-height: 70%;
	font-size: 300%;
	white-space: pre;
}